
<style>
    .bg {
        background-image: url("/Content/images/q50.jpg");
        filter: blure(2px);
        background-size: cover;
    }

    .content {
        position: relative;
        z-index: 2;
    }
</style>
<div class="bg" style="height: 606px; width:100%">
    <div style="width: 80%; margin: 80px 0 10% 10%"><h1 style="font-size: 80px; color: azure; font-family: Georgia">Футбольная статистика. Ставки</h1></div>
</div>
<div id="back"></div>


